@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:wght@700&display=swap');

$primary_black: #0D1117;
$primary_green: #0F9942;
$secondary_green: #30D85A;
$third_green: #91FA91;
$fourth_green: #C2FAC2;

$logo_font: 'Open Sans';
$title_font: 'Sofia Sans';
$text_font: 'sans-serif';